body{
    display:flex;
    flex-direction:column;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: green;
}

.logo{
    display:flex;
    align-items:flex-start;
}

.pages{
    display: flex;
}

.footer{
    display: flex;
    margin-top: auto;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a{
    display:flex;
    text-decoration: none;
}