body{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

/* Default setting for all the lists on the page */
ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a{
    display:flex;
    text-decoration: none;
    color: white;
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: navy;
}

.logo{
    display:flex;
    align-items:center;
    color: white;
    margin-left: 150px;
}

.pages{
    display: flex;
    margin-right: 150px;
    color: white;
}

.body{
    display:flex;
    flex-direction:column;
}

.button{
    display:flex;
    color: gray
}



.cardOne{
    display:flex;
    width: 100%;
    height: 200px;
    background-color: navy;

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

ul{
    gap: none;
}

/* CSS for card two */
.cardTwo{
    display:flex;
    width: 100%;
    height: 150px;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center
}

.information{
    display:flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 32px;

}

.info-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.box{
    display:flex;
    flex-direction:column;

    max-height : 120px;
    max-width : 120px;

    min-height: 50px;
    min-width: 50px;

    font-size: 20px;

    border: 1px solid blue;
}

/* End of CSS for cardTwo */

.cardThree{
    display:flex;
    width: 100%;
    min-height: 150px;
    background-color: gray;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center

}

.cardFour{
    display:flex;
    width: 100%;
    height: 150px;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center

}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;

   
}

